<html>
  <header>
    <link rel=stylesheet href="/popup/popup.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </header>
  <body>
    <h1> <%= htmlWebpackPlugin.options.myPageHeader %> </h1>

    <div class="action-panel">
      <form action="" id="create-cart-form">
        <label for="product-id">First name:</label>
        <input type="text" name="product-id" class="product-id" /><br>
        <button id="action-create-primary-cart" type="submit">Create Cart</button>
      </form>
      <button class="button button-action" id="action-get-primary-cart">Get Primary Cart</button>
      <br><br><br><br><br>
      <div id="response-json" class="json-container"></div>
    </div>
  </body>
</html>
